
{{#section 'css'}}
    <link href="/stylesheets/import/import.css" rel="stylesheet"/>
    <link href="/stylesheets/import/importAddPage.css" rel="stylesheet"/>
{{/section}}

<main class="import-container">
    
    <div class="row">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Add Import Receipt</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/import">Import list</a></li>
                    <li class="breadcrumb-item active"><a href="/import/add">Add Import Receipt</a></li>
                </ol>
            </div>
        </div>

        <div class="row filter">  
            <div class="col-6">
                <div class="input-group">
                    <input type="text" id="isbnIp" class="form-control" placeholder="ISBN">
                    <div class="input-group-append">
                        <button id="addImportDetailTbRowBtn" type="button" class="mx-2 btn btn-secondary rounded-2">
                            Add <i class="fa-solid fa-plus"></i>
                        </button>
        
                        <button id="addNewBookModalBtn" type="button" class="d-none" data-toggle="modal" data-target="#addNewBookModal">                        </button>
                    </div>
                </div>
            </div>    
            <div class="col-3">
                <button form="importForm" id="saveInportFormBtn" type="button" class="mx-2 btn btn-success custom-btn">
                    Save <i class="fa-solid fa-pen custom-btn-icon"></i>
                </button>
            </div>          
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-9 col-xs-12">
            <form class="content" method="post" action="/import/add" id="importForm">             
                <table id="importReceiptDetailTable" class="import-receip-detail-table">
                    <thead>
                        <tr>
                            <th>Img</th>
                            <th>ISBN
                                {{!-- <input type="text" style="width: 100%"> --}}
                            </th>
                            <th>Title</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ảnh</th>
                            <th>ISBN</th>
                            <th>Title</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody id="importDetailTableBody">
                        <script type="text/x-handlebars-template" id="importDetailTableRowTemplate">
                            <tr id="importReceiptDetailItem\{{book_id}}" class="importReceiptDetailItemRow">
                                <input type="hidden" name="bookIds" value="\{{book_id}}">
                                <td><img class="import-book-img"  src="\{{avatar}}"></td>
                                <td>\{{book.isbn}}</td>
                                <td>\{{book.title}}</td>d>
                                <td>\{{book.publisher.name}}</td>
                                <td><input type="number" class="import-receipt-detail-price" value="\{{price}}" name="prices" onchange="resetDafautInput(event,\{{price}})" oninput="updateTotalFinalPrice()"></td>
                                <td><input type="number" class="import-receipt-detail-quantity" value="0" name="quantitys" onchange="resetDafautInput(event,0)"></td>
                                <td>
                                    <button type="button" class="mx-2 btn btn-danger custom-btn" onclick="removeImportDetailTbRow(\{{book_id}})">
                                        <i class="fa-solid fa-trash custom-btn-icon"></i>
                                    </button>
                                </td>
                            </tr> 
                        
                        </script>
                    </tbody>
                </table>


            </form>
        </div>
        <div class="mr-4 col-md-3 col-xs-12">
            <div class="import-form">
                <div class="row import-form-top">
                    <div class="col-md-12 col-xs-12">
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-4 col-sm-4 col-xs-12">Date</label>
                            <div class="col-md-8 col-sm-8 col-xs-6">
                                <input form="importForm" class="form-control" type="date" readonly id="createAt" name="createAt">
                            </div>
                        </div>
                        <div class="py-2 px-2 form-group row">
                            <label class="col-md-4 col-sm-4 col-xs-12">Total price</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input form="importForm" type="number" id="totalPrice" name="totalPrice" class="form-control text-right" readonly>
                            </div>
                        </div>
                        <div class="py-2 px-2 form-group row">
                            <label class="col-md-4 col-sm-4 col-xs-12">Amount pay</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input form="importForm" type="text" id="finalPrice" name="finalPrice" class="form-control text-right" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row import-form-middle">
                    <div class="col-md-12 col-xs-12">
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-4 col-sm-4 col-xs-12">Author</label>
                            <div class="col-md-8 col-sm-8 col-xs-6">
                                <input class="form-control" type="text" id="newAuthor" name="newAuthor">
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-xl-4 col-md-12">
                                <button id="addNewAuthorBtn" type="button" class="btn btn-success rounded-circle">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row import-form-middle">
                    <div class="col-md-12 col-xs-12">
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-4 col-sm-4 col-xs-12">Category</label>
                            <div class="col-md-8 col-sm-8 col-xs-6">
                                <input class="form-control" type="text" id="newCategory" name="newCategory">
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-xl-4 col-md-12">
                                <button id="addNewCategoryBtn" type="button" class="btn btn-success rounded-circle">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row import-form-middle">
                    <div class="col-md-12 col-xs-12">
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-4 col-sm-4 col-xs-12">Publisher</label>
                            <div class="col-md-8 col-sm-8 col-xs-6">
                                <input class="form-control" type="text" id="newPublisher" name="newPublisher">
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-xl-4 col-md-12">
                                <button id="addNewPublisherBtn" type="button" class="btn btn-success rounded-circle">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    



    <!-- Modal -->

    <div id="addNewBookModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNewCustomerForm">
                    <div class="row">
                        <div class="form-group col">
                            <label class="col-form-label">ISBN:</label>
                            <input id="newBookIsbn" type="text" class="form-control" required>
                        </div>
                        <div class="form-group col">
                            <label class="col-form-label">Page number:</label>
                            <input id="newBookPageNumber" type="number" class="form-control" required>
                        </div>
                        <div class="form-group col">
                            <label class="col-form-label">Publication date</label>
                            <input id="newBookPublisherDate" type="Date" class="form-control" required>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Title</label>
                        <input id="newBookTitle" type="text" class="form-control" required>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-md-12" >
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label class="col-form-label">Author</label>
                                            <div class="input-group">
                                                <input list="authorList" id="authorIp"  name="author" type="text" class="form-control">
                                                <datalist id="authorList">
                                                    {{#each authors}}
                                                        <option value="{{name}}"></option>
                                                    {{/each}}
                                                </datalist> 
                                                <div class="input-group-append">
                                                    <button id="addAuthorTbRowBtn" type="button" class="mx-2 btn btn-secondary rounded-2">
                                                        Add <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                    <button id="addNewAuthorModalBtn" type="button" class="d-none" data-toggle="modal" data-target="#addNewAuthorModal"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col">
                                        <table id="authorTable" class="">
                                            <thead>
                                                <tr>
                                                    <th>Author</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Author</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </tfoot>
                                            <tbody id="authorTableBody">
                                                <script type="text/x-handlebars-template" id="authorTableRowTemplate">
                                                    <tr id="authorItem\{{id}}">
                                                        <input type="hidden" name="authorIds" value="\{{id}}">
                                                        <td>
                                                            \{{name}}
                                                        </td>
                                                        <td>
                                                            <button type="button" class="mx-2 btn btn-danger custom-btn" onclick="removeAuthorTbRow('authorItem',\{{id}})">
                                                                <i class="fa-solid fa-trash custom-btn-icon"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </script>
                                            </tbody>
                                        </table> 
                                    
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-12" >
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label class="col-form-label">Category</label>
                                            <div class="input-group">
                                                <input list="categoryList" id="categoryIp"  name="category" type="text" class="form-control">
                                                <datalist id="categoryList">
                                                    {{#each categorys}}
                                                        <option value="{{name}}"></option>
                                                    {{/each}}
                                                </datalist> 
                                                <div class="input-group-append">
                                                    <button id="addCategoryTbRowBtn" type="button" class="mx-2 btn btn-secondary rounded-2">
                                                        Add <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                    <button id="addNewCategoryModalBtn" type="button" class="d-none" data-toggle="modal" data-target="#addNewCategoryModal"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col">
                                        <table id="categoryTable" class="">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </tfoot>
                                            <tbody id="categoryTableBody">
                                                <script type="text/x-handlebars-template" id="categoryTableRowTemplate">
                                                    <tr id="categoryItem\{{id}}">
                                                        <input type="hidden" name="categoryIds" value="\{{id}}">
                                                        <td>
                                                            \{{name}}
                                                        </td>
                                                        <td>
                                                            <button type="button" class="mx-2 btn btn-danger custom-btn" onclick="removeCategoryTbRow('categoryItem',\{{id}})">
                                                                <i class="fa-solid fa-trash custom-btn-icon"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </script>
                                            </tbody>
                                        </table> 
                                    
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-12" >
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="form-group col">
                                            <label class="col-form-label">Publisher</label>
                                            <div class="input-group">
                                                {{!-- <input list="publisherList" id="publisherIp"  type="text" class="form-control" onchange="changePublisherId()"> --}}
                                                <input list="publisherList" id="publisherIp"  type="text" class="form-control">
                                                <datalist id="publisherList">
                                                    {{#each publishers}}
                                                        <option value="{{name}}"></option>
                                                    {{/each}}
                                                </datalist> 
                                                <input id="publisherId" name="publisherId" type="hidden" class="form-control">                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="addNewBookBtn" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>    
    </div>

    <div id="addNewAuthorModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNewAuthorModalForm">
                    <div class="form-group">
                        <label class="col-form-label">Author:</label>
                        <input id="newAuthorInModal" type="text" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="addNewAuthorInModalBtn" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>    
    </div>
    

    <div id="addNewCategoryModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addNewCategoryModalForm">
                    <div class="form-group">
                        <label class="col-form-label">Category:</label>
                        <input id="newCategoryInModal" type="text" class="form-control" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="addNewCategoryInModalBtn" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>    
    </div>

</main>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/helper/helper.js"></script>
    <script src="/js/modal/overlay-modal.js"></script>
    <script src="/js/import/import.js"></script>
    <script src="/js/import/importAddPage.js"></script>
{{/section}}