{{#section 'css'}}
    <link href="/stylesheets/account/accountDetail.css" rel="stylesheet"/>
{{/section}}

<main>
    <div class="container px-4">
        <div id="avatar-modal" class="avatar-modal">
            <span class="modal-close">&times;</span>
            {{#if data.avatar}}
                <img class="avatar-modal-content" id="img-avatar-preview" src={{data.avatar}}>
            {{else}}
                <img class="avatar-modal-content" id="img-avatar-preview" src="/assets/img/default-avatar.jpg">
            {{/if}}
        </div>
        <div class="profile-custom">
            <div class="row">
                <div  class="figure-img-custom col-sm-6 col-xs-2">
                    {{#if data.avatar}}
                        <img onclick="showModalImagePreview()" src={{data.avatar}} id="img-avatar" alt=""/>
                    {{else}}
                        <img onclick="showModalImagePreview()" src="/assets/img/default-avatar.jpg" id="img-avatar"
                             alt=""/>
                    {{/if}}
                    <form enctype="multipart/form-data" hidden>
                        <input id="id-account" value="{{data.id}}"/>
                        <input type="file" name="avatar" accept="image/*" id="up-avatar"/>
                        <input type="submit" value="Upload image" id="upload-img"/>
                    </form>
                    <div class="image-edit-custom" id="btn-up-avatar">
                        <div class="btn-change-avatar" onclick="handleChangeAvatar()">Change</div>
                    </div>
                    <header>
                        <h1 id="full-name-header">{{data.first_name}} {{data.last_name}}</h1>
                        <input class="small-title-role" id="account-role" hidden value="{{data.role}}"/>
                        <input class="small-title-role" id="user-role" hidden value="{{user.role}}"/>
                    </header>
                </div>
                <div class="acc-body-custom col-sm-6 col-xs-2" >
                    <table class="table-account-detail table table-hover" id="table-detail-account">
                        <tbody>
                        <tr class="row-detail-account">
                            <td>Full name:</td>
                            <td>{{data.first_name}} {{data.last_name}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(0)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{data.email}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(1)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{data.phone_number}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(2)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Gender:</td>
                            <td>{{data.gender}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(3)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{data.address}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(4)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Role:</td>
                            <td>{{data.role}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(5)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>{{data.status}}</td>
                            <td class="dd-edit-custom" onclick="handleEdit(6)"><i class="fas fa-edit"></i></td>
                        </tr>
                        <tr>
                            <td>Uid:</td>
                            <td>{{data.uid}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Created At:</td>
                            <td>{{data.create_at}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-detail-acc-custom">
                        <div class="save-btn-custom" onclick="handleEditAccount({{data.id}})">Save</div>
                        <!--{{#ifTwoCondCustom user.role 'admin' 'superadmin'}}
                        <div class="lock-btn-custom">
                            {{#ifCond data.status '==' 'active'}}
                                Lock
                            {{else}}
                                Unlock
                            {{/ifCond}}
                        </div>
                    {{/ifTwoCondCustom}}-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{#section 'script'}}
    <script src="/js/account/accountDetail.js"></script>
{{/section}}
