<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">{{TypeName}} Management</h3>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">List {{TypeName}}</li>
        </ol>
        <div class="table-account-custom">
            <div class="table-header-custom">
                <div class="data-table-dropdown">
                    <select class="data-table-selector">
                        <option class="data-value-selector" value="5">5</option>
                        <option class="data-value-selector" value="10" selected="">10</option>
                        <option class="data-value-selector" value="15">15</option>
                        <option class="data-value-selector" value="20">20</option>
                        <option class="data-value-selector" value="25">25</option>
                    </select>
                </div>

                <div class="table-title-account">
                    <div class="custom-btn-account">
                        <i class="fas fa-file" style="color: #2e0559"></i>
                        <span>Export to Excel</span>
                    </div>
                    <div class="custom-btn-account">
                        <i class="fas fa-plus-circle" style="color: green"></i>
                        <span>Add New User</span>
                    </div>
                </div>
            </div>

            <table class="table-body-custom" id="accountMangement">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="tbody-table-account-management">
                {{#each data}}
                    <tr>
                        <td>
                            <div class="custom-name-picture" href="#"><img
                                    src={{this.avatar}}
                                    class="avatar-table-custom img-avatar-header" alt="Avatar">
                                <span class="custom-text-table">{{this.first_name}} {{this.last_name}}</span>
                            </div>
                        </td>
                        <td>
                            <span>{{this.email}}</span>
                        </td>
                        <td>Male</td>
                        <td>
                            <div class="custom-status-account">
                                {{#ifCond this.status '==' 'active'}}
                                    <div class="status-account-custom acc-active">•</div>
                                {{else}}
                                    <div class="status-account-custom acc-lock">•</div>
                                {{/ifCond}}
                                <div class="custom-text-status">{{this.status}}</div>
                            </div>
                        </td>
                        <td>
                        <span href="#" class="edit-account" title="Edit" data-toggle="tooltip">
                            <i class="fas fa-user-edit"></i>
                        </span>
                            {{#ifCond this.status '==' 'active'}}
                                <span href="#" class="lock-account" title="Lock" data-toggle="tooltip">
                            <i class="fas fa-lock"></i>
                        </span>
                            {{else}}
                                <span href="#" class="unlock-account" title="UnLock" data-toggle="tooltip">
                            <i class="fas fa-key"></i>
                        </span>
                            {{/ifCond}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <div class="clearfix-table-custom">
                <div class="hint-text-custom">Showing <b>10</b> out of <b>100</b> entries</div>
                <nav aria-label="Page navigation example" id="pagination" class="pagination-table-custom">
                    {{{createPagination pagination paginationClass="pagination"}}}
                </nav>
                <!--
                <ul class="pagination-table-custom">
                    <li class="page-item-custom"><a href="#" class="">Previous</a></li>
                    <li class="page-item-custom"><a href="#" class="">1</a></li>
                    <li class="page-item-custom"><a href="#" class="">2</a></li>
                    <li class="page-item-custom page-item-custom-active"><a href="#" class="">3</a></li>
                    <li class="page-item-custom"><a href="#" class="">4</a></li>
                    <li class="page-item-custom"><a href="#" class="">5</a></li>
                    <li class="page-item-custom"><a href="#" class="">Next</a></li>
                </ul>
                -->
            </div>
        </div>
    </div>
</main>

{{#section 'script'}}
    <script src="/js/account/account.js"></script>
    <script src="/js/pagination.js"></script>
{{/section}}
