<div class="container">
    <div class="admin-container-content">

        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Tables</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tables</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Book
                        <a class="mx-2 btn btn-secondary rounded-2" href="/table/book/add">
                            Add
                            <svg class="svg-inline--fa fa-plus" aria-hidden="true" focusable="false" data-prefix="fas"
                                 data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                 data-fa-i2svg="">
                                <path fill="currentColor"
                                      d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path>
                            </svg>
                        </a>
                    </div>

                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>Number of pages</th>
                                <th>Publication date</th>
                                <th>Publisher</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Edit</th>
<!--                                <th>Remove</th>-->

                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>Number of pages</th>
                                <th data-type="date" data-format="DD/MM/YYYY">Publication date</th>
                                <th>Publisher</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Edit</th>
<!--                                <th>Remove</th>-->


                            </tr>
                            </tfoot>
                            <tbody>
                            {{#each books}}



                                    <tr id="detailBook{{id}}">


                                        <td id="bookId">{{id}}</td>
                                        <td>{{isbn}}</td>
                                        <td>{{title}}</td>
                                        <td><a href={{image.src}}><img src={{image.src}}  alt="Image" width="50dp"
                                                                       height="50dp"></a></td>
                                        <td>{{num_page}}</td>
                                        <td>{{publication_date}}</td>
                                        <td>{{publisher}}</td>
                                        <td>{{price}} VND</td>
                                        <td>{{category}}</td>
                                        <td class="text-center">
                                            <a href="/table/book/{{id}}/action">
                                                <i class="fas fa-user-edit"></i>
                                            </a>
                                        </td>
<!--                                        <td class="text-center">-->
<!--&lt;!&ndash;                                            <button id="removeBookBtn" type="submit" class="btn btn-success shadow-none">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <i class="fas fa-trash"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--                                            <a href="/table/book/{{id}}/edit">-->
<!--                                                <i class="fas fa-trash"></i>-->
<!--                                            </a>-->
<!--                                        </td>-->


                                    </tr>

                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{{#section 'script'}}
    <script>
        // $('#removeBookBtn').on('click', e=>{
        //     e.preventDefault();
        //     alert("Remove book");
        //     console.log("REMOVE");
        // })

        let removeBook = () => {
            // let row=$('#bookId').val();
            // console.log("ROW", row);
            let row=document.getElementById("bookId");
            //alert(row);
            alert("Remove book "+ row.innerHTML);
        }
    </script>
    <script src="/adminStyle/js/filterSelect.js"></script>
    <script src="/adminStyle/js/productPagination.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/account/account.js"></script>
    <script src="/js/pagination/paginationHelper.js"></script>
{{/section}}