
{{#section 'css'}}
<link href="/stylesheets/sale/sale.css" rel="stylesheet"/>
    <link href="/stylesheets/sale/saleDetailPage.css" rel="stylesheet"/>
{{/section}}

<main class="sale-container">

    <div class="row">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Sale receipt detail</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/sale">Sale list</a></li>
                    <li class="breadcrumb-item active"><a href="/sale/{{saleReceipt.id}}">Sale receipt detail</a></li>
                    <input type="hidden" id="hiddenId" value="{{saleReceipt.id}}">
                </ol>
            </div>
        </div>
    </div>


    <form id="filterForm" class="row mt-2" method="get" action="/sale/{{saleReceipt.id}}">
        <div class="col-12">
            <div class="filter">
                <div class="row d-flex justify-content-end">
                        <div class="col-xl-6 col-md-12 d-flex justify-content-xl-end">
                            <div class="">
                                <button type="button" class="btn btn-outline-primary" style="margin-right: 20px;" id="exportBtn">
                                    <i class="fa-solid fa-cloud-arrow-down"></i>
                                </button>   
                            </div>
                            <div>
                                <input type="hidden" id="pageHidden" {{#if pagination.page}} value="{{pagination.page}}" {{/if}}>
                                <label class="col-form-label" style="margin-right: 20px;">Page: <span id="pageSpan">{{pagination.page}}</span></label>
                                <label class="col-form-label" style="margin-right: 20px;">Total Rows: <span>{{pagination.totalRows}}</span></label>
                            </div>
                            <label for="limit" class="col-form-label" style="margin-right: 10px;">Entries</label>
                            <input type="hidden" id="limitHidden" {{#if pagination.limit}} value="{{pagination.limit}}" {{/if}}>
                            <div class="d-flex align-items-center">
                                <select name="limit" id="limit" class="custom-select" form="filterForm">
                                    <option value="-1">Tất cả</option>
                                    <option value="5">5</option>
                                    <option selected="selected" value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-outline-primary" style="margin-left: 20px;" id="searchBtn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-2 sale-container-main">
        <div class="col-md-9 col-xs-12">
            <div class="content">             
                <table id="saleReceiptDetailTable" class="sale-receip-detail-table">
                    <thead>
                    <tr>
                        {{!-- <th>Ảnh</th> --}}
                         <th>ISBN</th>
                        <th>Title</th>
                        <th>Pulisher</th>
                        <th>Price</th>
                        <th>Quantity purchased</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        {{!-- <th>Ảnh</th> --}}
                         <th>ISBN</th>
                        <th>Title</th>
                        <th>Pulisher</th>
                        <th>Price</th>
                        <th>Quantity purchased</th>
                    </tr>
                    </tfoot>
                    <tbody id="saleTableBody">

                        {{#each saleReceiptDetails}}
                            <tr id="saleReceiptDetailItem{{book_id}}">
                                <input type="hidden" name="bookIds" value="{{book_id}}">
                                {{!-- <td><img class="sale-book-img" src="{{avatar}}"></td> --}}
                                <td>{{book.isbn}}</td>
                                <td>{{book.title}}</td>
                                <td>{{book.publisher.name}}</td>
                                <td>{{price}}</td>
                                <td>{{quantity}}</td>
                            </tr>
                        {{/each}}
                    <script type="text/x-handlebars-template" id="tableDataTemplate">
    
                        \{{#each saleReceiptDetails}}
                            <tr id="saleReceiptDetailItem\{{book_id}}">
                                <input type="hidden" name="bookIds" value="\{{book_id}}">
                                \{{!-- <td><img class="sale-book-img" src="\{{avatar}}"></td> --}}
                                <td>\{{book.isbn}}</td>
                                <td>\{{book.title}}</td>d>
                                <td>\{{book.publisher.name}}</td>
                                <td>\{{price}}</td>
                                <td>\{{quantity}}</td>
                            </tr>
                        \{{/each}}

                        </script>
                    </tbody>
                </table>

                 <footer class="row justify-content-center">
                        <nav class="col-lg-3 col-md-6 col-sm-9" aria-label="Page navigation example" id="pagination">
                            {{{createPagination pagination paginationClass="pagination"}}}

                            <script type="text/x-handlebars-template" id="paginationTemplate">
                                \{{{createPagination pagination paginationClass="pagination"}}}
                            </script>
                        </nav>
                    </footer>


            </div>
        </div>
        <div class="mr-4 col-md-3 col-xs-12">
            <div class="sale-form">
                <div class="row sale-form-top">
                    <div class="col-md-12 col-xs-12">
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-3 col-sm-3 col-xs-12">Date</label>
                            <div class="col-md-9 col-sm-9 col-xs-6">
                                <input class="form-control" type="text" value="{{saleReceipt.create_at}}" readonly>
                            </div>
                        </div>
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-3 col-sm-3 col-xs-12">Phone</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="input-group">
                                    <input id="customerPhoneNumberIp" name="phoneNumber" type="text" class="form-control" type="text" value="{{saleReceipt.customer.phone}}" readonly>
                                    <input id="customerId" name="customerId" type="hidden">
                                    <div class="invalid-feedback">
                                        Vui lòng chọn số điện thoại
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="py-2 px-2 form-group row align-items-center">
                            <label class="col-md-3 col-sm-3 col-xs-12">Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input class="form-control" id="customerName" type="text" value="{{saleReceipt.customer.name}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row sale-form-bottom">
                    <div class="col-md-12 col-xs-12">
                        <div class="py-2 form-group row">
                            <label class="col-md-4 col-sm-4 col-xs-12">Total price</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="number" id="totalPrice" name="totalPrice" class="form-control text-right" value="{{saleReceipt.price}}" readonly>
                            </div>
                        </div>
                        <div class="py-2 form-group row">
                            <label class="col-md-4 col-sm-4 col-xs-12">Amount pay</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="finalPrice" name="finalPrice" class="form-control text-right" value="{{saleReceipt.price}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/helper/helper.js"></script>
    <script src="/js/helper/paginationHelper.js"></script>
    <script src="/js/general/pagination/pagination.js"></script>
    <script src="/js/sale/sale.js"></script>
    <script src="/js/sale/saleDetailPage.js"></script>
{{/section}}