
{{#section 'css'}}
    <link href="/stylesheets/bill/bill.css" rel="stylesheet"/>
    <link href="/stylesheets/bill/billDetailPage.css" rel="stylesheet"/>
{{/section}}

<main class="bill-container">

    <div class="row">
        <div class="col">
            <h1 class="mt-4">List bills</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/bill">List bills</a></li>
                <li class="breadcrumb-item active"><a href="/bill">Add bill</a></li>
            </ol>
        </div>
    </div>

    <form action="/bill/add" method="post" class="py-4 px-2">
        <div class="bill-content">



            <div class="row">
                <div class="col-xl-12 col-md-12 bill-add-form-container">
                    <div class="bill-add-form my-4">
                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label>Họ tên</label>
                                <input type="text" id="name" name="name" value="{{bill.customer.name}}" class="form-control" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Địa chỉ</label>
                                <input type="text" id="address" name="address" value="{{bill.customer.address}}"  class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="email" id="email" name="email" value="{{bill.customer.email}}"  class="form-control" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Số điện thọai</label>
                                <input type="tel" id="phone" name="phone" value="{{bill.customer.phone}}"  class="form-control" readonly>
                                <input type="hidden" id="id" name="id" value="{{bill.customer.id}}"  class="form-control">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label>Số tiền thu</label>
                                <input type="number" id="money" name="money" value="{{bill.money}}" class="form-control">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label>Ngày thu tiền</label>
                                <input type="text" id="createdAt"  value="{{bill.create_at}}" class="form-control"  readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>



    <!-- Modal -->

</main>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/helper/helper.js"></script>

    <script src="/js/bill/bill.js"></script>
    <script src="/js/bill/billDetailPage.js"></script>
{{/section}}