
{{#section 'css'}}
    <link href="/stylesheets/bill/bill.css" rel="stylesheet"/>
    <link href="/stylesheets/bill/billDetailPage.css" rel="stylesheet"/>
{{/section}}

<main class="bill-container">

    <div class="row">
        <div class="col">
            <h1 class="mt-4">Bill detail</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/bill">List bills</a></li>
                <li class="breadcrumb-item active"><a href="/bill/{{bill.id}}">Bill detail</a></li>
                <input type="hidden" name="hiddenId" id="hiddenId" value="{{bill.id}}">
            </ol>
        </div>
    </div>


    
    <div id="filterForm" class="row mt-2">
        <div class="col-12">
            <div class="filter">
                <div class="row d-flex justify-content-end">
                        <div class="col-xl-6 col-md-12 d-flex justify-content-end">
                            <div class="">
                                <button type="button" class="btn btn-outline-primary" style="margin-right: 20px;" id="exportBtn">
                                    <i class="fa-solid fa-cloud-arrow-down"></i>
                                </button>   
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="py-4 px-2">
        <div class="bill-content">
            <div class="row">
                <div class="col-xl-12 col-md-12 bill-add-form-container">

                    <div class="bill-add-form my-4">
                        <div class="form-row row">
                            <div class="form-group col-xl-6 col-md-12 py-2">
                                <label>Name</label>
                                <input type="text" id="name" name="name" class="form-control" value="{{bill.customer.name}}" readonly>
                            </div>
                            <div class="form-group col-xl-6 col-md-12 py-2">
                                <label>Address</label>
                                <input type="text" id="address" name="address" class="form-control" value="{{bill.customer.address}}" readonly>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="form-group col-xl-6 col-md-12 py-2">
                                <label>Email</label>
                                <input type="email" id="email" name="email" class="form-control" value="{{bill.customer.email}}" readonly>
                            </div>
                            <div class="form-group col-xl-6 col-md-12 py-2">
                                <label>Phone</label>
                                <input type="tel" id="phone" name="phone" class="form-control" value="{{bill.customer.phone}}" readonly>
                                <input type="hidden" id="id" name="id" class="form-control">
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="form-group col-xl-6 col-md-12 py-2">
                                <label>Create At</label>
                                <input type="text" id="createdAt" class="form-control" value="{{bill.create_at}}" readonly>
                            </div>
                            <div class="form-group col-xl-6 col-md-12 py-2">
                                <label>Money pay</label>
                                <input type="number" id="money" name="money" class="form-control" value="{{bill.money_received}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <!-- Modal -->

</main>

{{#section 'script'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/js/helper/helper.js"></script>

    <script src="/js/bill/bill.js"></script>
    <script src="/js/bill/billDetailPage.js"></script>
{{/section}}